.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.wrapper-btn {
  @include flex-center;
  min-height: 100vh;
}

.btn-main {
  @include flex-center;
  position: relative;
  overflow: hidden;
  padding: 1rem 1.6rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: white;
  background: linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 50%, 50%));
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: 0.2rem;

  transition: 0.2s;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  &:hover,
  &:focus {
    border-color: hsla(0, 0%, 100%, 0.6);
    transform: translateY(-0.2rem);
  }

  &::after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 160px;
    transform: rotate(62deg);
    animation: tickerButton 3s linear infinite;
    z-index: -1;
  }
}

@keyframes tickerButton {
  0% {
    left: -200px;
  }
  50% {
    left: 450px;
  }
  100% {
    left: 450px;
  }
}
